body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background: #333;

}

.carousel {
    align-items: center;
    justify-content: center;
    height: 500px;
    perspective: 1000px;

}

.carousel .carousel-item {
    width: 350px;

}

img {
    margin-top: -1rem;
    padding: 3px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 2);
}

h1 {
    font-size: 2rem;
    font-weight: 800;
    color: black;
    text-align: center;
    margin-top: 1rem;

}

p {
    padding: 10px;
    font-size: 1.2rem;
    align-items: center;
}